{% extends "msdsolutionsrd/www/templates/base.html" %}
{% block header %}
<header id="master-head" class="navbar menu-absolute menu-center menu-light" style="background: linear-gradient(-84deg, #1f53bc 0%, #291fbc 100%) !important; color: aliceblue;">
            <div class="container-fluid" style="color: aliceblue !important;">
                <div id="main-logo" class="logo-container">
                    <a class="logo" href="index">
                        <img src="images/logo.jpg" class="logo-dark" style="border-radius: 30px;" alt="DCode">
                        <img src="images/logo.jpg" class="logo-light" style="border-radius: 30px;" alt="DCode">
                    </a>
                </div>
                <div class="menu-toggle-btn">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="burger-lines">
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
                <div id="navigation" class="nav navbar-nav navbar-main">
                    <ul id="main-menu" class="menu-primary">
                        <li class="menu-item menu-item-has-children active">
                            <a href="index.html" style="color: aliceblue;">Home</a>
                            <ul class="sub-menu">
                    
                                <li class="menu-item"><a href="index-payment-software.html">Payment Software</a></li>
             
                             
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="servicios" style="color: aliceblue;">Servicios</a>
                            
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="blogs" style="color: aliceblue;">Blog</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="nosotros" style="color: aliceblue;">Nosotros

                            </a>
                           
                        </li>
                        <li class="menu-item menu-item-has-children mega-menu">
                            <a href="contactos" style="color: aliceblue;">Contactanos</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <div class="menu-button">
                        <a href="#" target="_blank">
                            <div class="btn btn-outline-primary btn-light" style="color: aliceblue;">sign in</div>
                        </a>
                    </div>
                    <div class="search-option style-dark">
                        <div class="search-btn">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}
{% block content %}
          <!--Main Wrapper -->
    <div id="main-wrapper" class="page-wrapper">
        <div class="inner-page-header section-padding style-dark">
            <div class="container">
                <div class="page-title-inner text-center clearfix">
                    <div class="heading-wrapper">
                        <h1 class="h1">Ultims Noticias</h1>
                        <div class="lead-text">
                            <h3  style="color: #1f53bc !important; font-family:'Times New Roman', Times, serif !important;">Nuestra Oficina en el Limpio de Zambrana Abajo, Cotui, Provincia Sánchez Ramírez</h3>
                            <ul class="st-breadcrumb">
                                <li><a href="index.html" style="color: #1f53bc;">Home</a></li>
                            </ul><!-- End Breadcrumb -->
                        </div>
                    </div><!-- End Heading -->
                </div><!-- Page Title Inner -->
            </div>
        </div>
        <!-- Page Header -->
        <div class="service-section section-padding">
            <div class="container">
                <div class="row clearfix no-gutters dc-features-group">
                    <div class="col-lg-4 col-md-6 dc-features-item">
                        <a href="#">
                            <div class="dc-features-item-front">
                                <div >
                                    <div >
                                        <img class="normal" style="width: 300px !important;" src="images/124.jpg" alt="">
                                    </div>
                                    <h3 class="dc-features-title" style="text-align: center;">Tarifas</h3>
                                </div>
                            </div>
                            <div class="dc-features-item-hover">
                                <div class="inner-box">
                                    <h3 class="dc-features-title" style="text-align: center;">Tarifas</h3>
                                    <p>Préstamos Personales en Cómodas Cuotas; APROBACIÓN INMEDIATA.. Llamanos de Lunes a Sábados de 9 a 5 pm. al 809-741-9533 #DineroRapidoZAC</p>
                                </div>
                            </div>
                        </a>
                    </div><!-- End Col -->
                    <div class="col-lg-4 col-md-6 dc-features-item">
                        <a href="#">
                            <div class="dc-features-item-front">
                                <div >
                                    <div >
                                        <img class="normal" style="width: 250px !important;" src="images/123.jpg" alt="">
                                    </div>
                                    <h3 class="dc-features-title" style="text-align: center;">Fundacion</h3>
                                </div>
                            </div>
                            <div class="dc-features-item-hover">
                                <div class="inner-box">
                                    <h3 class="dc-features-title">Fundacion</h3>
                                    <p>Estamos muy esperanzados en que este proyecto a inicio de éste año 2018, será de mucho éxitos para todos con Dios delante.</p>
                                </div>
                            </div>
                        </a>
                    </div><!-- End Col -->
                    <div class="col-lg-4 col-md-6 dc-features-item">
                        <a href="#">
                            <div class="dc-features-item-front">
                                <div>
                                    <div>
                                        <img class="normal" style="width: 450px !important; height: 320px !important;" src="images/125.jpg" alt="">
                                    </div>
                                    <h3 class="dc-features-title" style="text-align: center;">Ubicacion</h3>
                                </div>
                            </div>
                            <div class="dc-features-item-hover">
                                <div class="inner-box">
                                    <h3 class="dc-features-title">Ubicacion</h3>
                                    <p>Ultims Noticias
                                        Nuestra Oficina en el Limpio de Zambrana Abajo, Cotui, Provincia Sánchez Ramírez</p>
                                </div>
                            </div>
                        </a>
                    </div><!-- End Col -->
             
                </div><!-- End Row -->
            </div>
        </div><!-- About Section -->
</div>
<!--Main Wrapper -->
{% endblock %}