{% extends "msdsolutionsrd/www/templates/base.html" %}
{% block content %}
            <div id="main-wrapper" class="page-wrapper">
                <div class="page-header section-padding style-dark full-height dc-three left-col-full">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="image-wrapper">
                                    <img src="images/default-color/security-software-img.png" alt="" />
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-6">
                                <div class="heading-wrapper wow fadeInRight" data-wow-delay="0.2s">
                                    <h1>Ms Dominican Solutions es <span> Mobile App Development </span > </h1>
                                </div>
                                <div class="text-wrapper wow fadeInRight" data-wow-delay="0.4s">
                                    <p class="lead-text">Máxima seguridad para su vida digital -- simplificada.</p>    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra. Nam gravida dignissim eros. Vivamus congue erat ante, volutpat dictum neque dignissim eget.</p>
                                </div>
                                <div class="btn-wrapper wow fadeInRight" data-wow-delay="0.5s">
                                    <a class="btn btn-primary btn-light " href="contactos">Contactanos</a>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- Page Header -->
                <div class="about-section section-padding dc-two">
                    <div class="container">
                        <div class="row clearfix align-items-center flex-row-reverse">
                            <div class="col-lg-6 text-center">
                                <div class="image-wrapper">
                                    <img src="images/default-color/d-image-icon.png" alt="" />
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-6">
                                <div class="heading-wrapper with-separator">
                                    <h2 class="h1">Complete Online Security with <span>Premium support</span></h2>
                                </div>
                                <!-- End Heading -->
                                <div class="text-wrapper">
                                    <p class="lead-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra. Nam gravida dignissim eros. Vivamus congue erat ante, volutpat dictum neque dignissim eget. </p>
                                </div>
                                <div class="btn-wrapper">
                                    <a class="btn btn-primary" href="#">Discover More</a>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- About Section -->
                <div class="services-section light-gradient-bg section-padding">
                    <div class="container">
                        <div class="row clearfix justify-content-center">
                            <div class="col-lg-10">
                                <div class="heading-wrapper text-center with-separator">
                                    <h2 class="h1">How does it <span>works</span></h2>
                                    <div class="lead-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                                    </div>
                                </div>
                                <!-- End Heading -->
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="icon-box theme-two wow fadeInLeft">
                                    <div class="icon">
                                        <img src="images/default-color/icon-8.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4>Real-Time Protection</h4>    
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                                    </div>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-4">
                                <div class="icon-box theme-two wow fadeInUp">
                                    <div class="icon">
                                        <img src="images/default-color/icon-9.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4>Internet & Networks</h4>    
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                                    </div>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-4">
                                <div class="icon-box theme-two wow fadeInRight">
                                    <div class="icon">
                                        <img src="images/default-color/icon-10.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4>Mail Protection</h4>    
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                                    </div>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- Services Section -->
                <div class="user-interface-section section-padding pt-0">
                    <div class="container">
                        <div class="row align-items-center clearfix">
                            <div class="col-lg-6">
                                <div class="image-wrapper">
                                    <img src="images/default-color/user-interface-img.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="heading-wrapper with-separator">
                                    <h2 class="h1">Really <span>awesome UI/UX</span> easier to use for users</h2>
                                </div><!-- End Heading -->
                                <div class="text-wrapper">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra. Nam gravida dignissim eros. Vivamus congue erat ante, volutpat dictum neque dignissim eget.</p>
                                    <ul class="list-style-one">
                                        <li>Nullam placerat nunc id ornare convallis.</li>
                                        <li>Mauris id dui aliquam, dapibus felis vel, iaculis risus.</li>
                                        <li>Integer dapibus lorem in nisl hendrerit dictum.</li>
                                    </ul>
                                </div>
                                <div class="btn-wrapper">
                                    <a href="#" class="btn btn-primary">Start Free trial Now</a>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- User Interface Section -->
                <div class="fact-section section-padding style-dark dark-bg">
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="heading-wrapper text-center">
                                    <h2 class="h1">Learn more about some <span>fun facts</span></h2>
                                </div><!-- End Heading -->
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                        <div class="row clearfix">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-block with-icon wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="counter-icon">
                                        <img src="images/default-color/icon-11-light.svg" alt="Total Downloads">
                                    </div>
                                    <div class="counter">
                                        <span class="counter-number-prefix"></span>
                                        <span class="counter-number" data-speed="3500" data-stop="1087">0</span>
                                        <span class="counter-number-after"></span>
                                        <span class="counter-number-suffix">+</span>
                                    </div>
                                    <div class="counter-title">Total Downloads</div>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-block with-icon wow fadeInLeft">
                                    <div class="counter-icon">
                                        <img src="images/default-color/icon-12-light.svg" alt="Positive Reviews">
                                    </div>
                                    <div class="counter">
                                        <span class="counter-number-prefix"></span>
                                        <span class="counter-number" data-speed="3500" data-stop="600">0</span>
                                        <span class="counter-number-after"></span>
                                        <span class="counter-number-suffix">+</span>
                                    </div>
                                    <div class="counter-title">Positive Reviews</div>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-block with-icon wow fadeInRight">
                                    <div class="counter-icon">
                                        <img src="images/default-color/icon-13-light.svg" alt="Happy Users">
                                    </div>
                                    <div class="counter">
                                        <span class="counter-number-prefix"></span>
                                        <span class="counter-number" data-speed="3500" data-stop="980">0</span>
                                        <span class="counter-number-after"></span>
                                        <span class="counter-number-suffix"></span>
                                    </div>
                                    <div class="counter-title">Happy Users</div>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-block with-icon wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="counter-icon">
                                        <img src="images/default-color/icon-14-light.svg" alt="Years of Operation">
                                    </div>
                                    <div class="counter">
                                        <span class="counter-number-prefix"></span>
                                        <span class="counter-number" data-speed="3500" data-stop="10">0</span>
                                        <span class="counter-number-after"></span>
                                        <span class="counter-number-suffix"></span>
                                    </div>
                                    <div class="counter-title">Years of Operation</div>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- Fact Section -->
                <div class="pricing-section section-padding">
                    <div class="container">
                        <div class="row align-items-center clearfix">
                            <div class="col-lg-4">
                                <div class="heading-wrapper with-separator">
                                    <h2 class="h1">Pricing Plans</h2>
                                </div><!-- End Heading -->
                                <div class="text-wrapper">
                                    <h4>Begin leveraging your market data today.</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                                </div>
                                <div class="btn-wrapper">
                                    <a href="#" class="btn link-btn">Compare all features.</a>
                                </div>
                            </div><!-- End Col -->
                            <div class="col-lg-8">
                                <div class="row pricing-plans-three clearfix">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="price-card wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="card-header">
                                                <h3 class="card-title">Start-Up</h3>
                                                <div class="plan-cost-wrapper">
                                                    <div class="plan-cost">
                                                        <span class="plan-cost-prefix">$</span>15
                                                    </div>
                                                    <div class="plan-validity">/ mo</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="desc">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia viverra leo.</p>
                                                </div>
                                                <ul class="pricing-feature-list">
                                                    <li>Easy Customizable</li>
                                                    <li>1 Month Support Service</li>
                                                    <li>Singal User license</li>
                                                    <li class="disabled">Reports & Billing</li>
                                                    <li>500Mb Storage</li>
                                                </ul>
                                                <a href="#" class="btn btn-secondary">Purchase Now</a>
                                            </div>
                                        </div><!-- End Price card -->
                                    </div><!-- End Col -->
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="price-card popular wow fadeInRight" data-wow-delay="0.5s">
                                            <div class="card-header">
                                                <h3 class="card-title">Advanced</h3>
                                                <div class="plan-cost-wrapper">
                                                    <div class="plan-cost">
                                                        <span class="plan-cost-prefix">$</span>30
                                                    </div>
                                                    <div class="plan-validity">/ mo</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="desc">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia viverra leo.</p>
                                                </div>
                                                <ul class="pricing-feature-list">
                                                    <li>Easy Customizable</li>
                                                    <li>1 Year Support Service</li>
                                                    <li>3 Users license</li>
                                                    <li>Reports & Billing</li>
                                                    <li>2Gb Storage per user</li>
                                                </ul>
                                                <a href="#" class="btn btn-primary">Purchase Now</a>
                                            </div>
                                        </div><!-- End Price card -->
                                    </div><!-- End Col -->
                                </div><!-- End Row -->
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- Pricing Section -->
                <div class="testimonial-section style-three style-dark section-padding">
                    <div class="container">
                        <div class="row align-items-center clearfix">
                            <div class="col-lg-4 col-md-4">
                                <div class="image-wrapper">
                                    <img src="images/team-members.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="client-testimonial theme-three">
                                    <div class="testimonial-slider">
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                Cum et essent similique. Inani propriae menandri sed in. Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per.
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>Andy Sant</h5>
                                                <p>Founder Coinpool</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                It's all good. I am really satisfied with software. Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per.
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>Dan Kaul</h5>
                                                <p>IT Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per. Vis in tritani debitis delicatissimi, error omnesque invenire usu ex.
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>Saru Matt</h5>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacus consectetur, fermentum nisi vel, aliquet erat.
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>Yommi Pat</h5>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                Nam rutrum, eros nec consequat eleifend, quam est sodales mauris, eget dignissim lacus sem at erat. Vivamus eget semper nibh.
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>Shreyn S</h5>
                                                <p>Data Science Enthusiastic</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Testimonial Slider -->
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- Testimonial Section -->
                <div class="companies-section section-padding">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="heading-wrapper text-center with-separator">
                                    <h2 class="h1">Trusted by many <span>companies</span></h2>
                                    <div class="lead-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                                    </div>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="companies-logo">
                                    <div class="item">
                                        <div class="logo-wrapper"><img src="images/company-logo-1.png" alt=""></div>    
                                    </div>
                                    <div class="item">
                                        <div class="logo-wrapper"><img src="images/company-logo-2.png" alt=""></div>    
                                    </div>
                                    <div class="item">
                                        <div class="logo-wrapper"><img src="images/company-logo-3.png" alt=""></div>   
                                    </div>
                                    <div class="item">
                                        <div class="logo-wrapper"><img src="images/company-logo-4.png" alt=""></div>
                                    </div>
                                    <div class="item">
                                        <div class="logo-wrapper"><img src="images/company-logo-5.png" alt=""></div>
                                    </div>
                                </div>
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                </div>
                <!-- companies Section -->
            </div>
{% endblock %}
           