{% extends "msdsolutionsrd/www/templates/base.html" %}
{% block header %}
<header id="master-head" class="navbar menu-absolute menu-center menu-light" style="background: linear-gradient(-84deg, #1f53bc 0%, #291fbc 100%) !important; color: aliceblue;">
            <div class="container-fluid" style="color: aliceblue !important;">
                <div id="main-logo" class="logo-container">
                    <a class="logo" href="index">
                        <img src="images/logo.jpg" class="logo-dark" style="border-radius: 30px;" alt="DCode">
                        <img src="images/logo.jpg" class="logo-light" style="border-radius: 30px;" alt="DCode">
                    </a>
                </div>
                <div class="menu-toggle-btn">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="burger-lines">
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
                <div id="navigation" class="nav navbar-nav navbar-main">
                    <ul id="main-menu" class="menu-primary">
                        <li class="menu-item menu-item-has-children active">
                            <a href="index.html" style="color: aliceblue;">Home</a>
                            <ul class="sub-menu">
                    
                                <li class="menu-item"><a href="index-payment-software.html">Payment Software</a></li>
             
                             
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="servicios" style="color: aliceblue;">Servicios</a>
                            
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="blogs" style="color: aliceblue;">Blog</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="nosotros" style="color: aliceblue;">Nosotros

                            </a>
                           
                        </li>
                        <li class="menu-item menu-item-has-children mega-menu">
                            <a href="contactos" style="color: aliceblue;">Contactanos</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <div class="menu-button">
                        <a href="#" target="_blank">
                            <div class="btn btn-outline-primary btn-light" style="color: aliceblue;">sign in</div>
                        </a>
                    </div>
                    <div class="search-option style-dark">
                        <div class="search-btn">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block content %}
    <div id="main-wrapper" class="page-wrapper">
    <div class="inner-page-header section-padding style-dark">
        <div class="container">
            <div class="page-title-inner text-center clearfix">
                <div class="heading-wrapper">
                    <h1 class="h1">Quienes Somos?</h1>
                    <div class="lead-text">
                        <h2  style="color: #1f53bc !important; font-family:'Times New Roman', Times, serif ;">Qué hace grande a una empresa? Muy fácil. Son las personas que hacen el trabajo de ensueño.</h2>
                    </div>
                </div><!-- End Heading -->
                <ul class="st-breadcrumb">
                    <li><a href="index.html" style=" color: #1f53bc !important;">Inicio</a>/</li>
                 
                </ul><!-- End Breadcrumb -->
            </div><!-- Page Title Inner -->
        </div>
    </div>
    <!-- Page Header -->
    <div class="about-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="image-wrapper">
                        <img src="images/default-color/user-interface-img.png" alt="">
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-6">
                    <div class="heading-wrapper with-separator">
                        <span class="sub-title">Un poco de MS DOMINICAN SOLUTIONS, SRL</span>
                        <h2 class="h1">Por que los mejores deciden <span>trabajar con nosotros.</span></h2>
                    </div><!-- End Heading -->
                    <div class="text-wrapper">
                        <p>Somos una empresa de tecnología innovadora, especializada en el desarrollo de software a la medida para cualquier tipo de negocios..</p>
                        <ul class="list-style-one">
                            <li>Desarrollar software de alta calidad que cumpla con los requisitos del cliente..</li>
                            <li>Cumplir con las leyes y regulaciones legales, así como seguir prácticas éticas.                            </li>
                            <li>Proporcionar soporte técnico y atención al cliente efectivos.</li>
                        </ul>
                    </div>
                    <div class="btn-wrapper">
                        <a class="btn btn-primary" href="contactos.html">Comunicate ahora</a>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div><!-- About Section -->
    <div class="section-padding light-gradient-bg pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-block theme-one wow fadeInLeft">
                        <div class="inner-box">
                            <div class="icon">
                                <img class="normal" src="images/default-color/icon-5.svg" alt="">
                                <img class="hover" src="images/default-color/icon-5-light.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Nuestra Responsabilidad</h4>    
                                <p>Como empresa de software, nuestra responsabilidad principal radica en el desarrollo de soluciones informáticas que cumplan con los más altos estándares de calidad y satisfagan las necesidades específicas de nuestros clientes. Desde la escritura de código hasta las pruebas exhaustivas, nos comprometemos a ofrecer software funcional y confiable. </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4">
                    <div class="features-block theme-one wow fadeInUp">
                        <div class="inner-box">
                            <div class="icon">
                                <img class="normal" src="images/default-color/icon-5.svg" alt="">
                                <img class="hover" src="images/default-color/icon-5-light.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Nuestro enfoque</h4>    
                                <p>Nuestro enfoque se centra en una filosofía centrada en el cliente, colocando las necesidades y preferencias de nuestros clientes en el centro de nuestro viaje de desarrollo de software. Priorizamos la comunicación abierta y la colaboración a lo largo de todo el proceso, desde las discusiones iniciales de concepto hasta la entrega final del producto. .</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4">
                    <div class="features-block theme-one wow fadeInRight">
                        <div class="inner-box">
                            <div class="icon">
                                <img class="normal" src="images/default-color/icon-5.svg" alt="">
                                <img class="hover" src="images/default-color/icon-5-light.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Nuestra mision</h4>    
                                <p>Nuestra misión es liderar la transformación digital al proporcionar soluciones de software innovadoras y de alta calidad que potencien el éxito y la eficiencia de nuestros clientes. Nos comprometemos a entender profundamente las necesidades de quienes confían en nosotros, desarrollando soluciones que no solo resuelvan desafíos actuales, sino que también allanen el camino para el futuro.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div><!-- Our Approach Section -->

    <div class="cta-section section-padding style-dark" style="background-color: #1f53bc !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="call-to-action-content i-text-center">
                        <h2 class="special-fonts">Contactanos a nuestras oficinas ubicadas en Sanches Ramirez, el Limpio Cotui</h2>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-5">
                    <div class="call-to-action-btn text-right i-text-center">
                        <a href="contactus" class="btn btn-primary btn-light btn-large">Contactanos ahora!</a>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Call to Action Section -->
 
            <div class="testimonial-section section-padding">
                <div class="container">
                    <div class="row justify-content-center clearfix">
                        <div class="col-lg-8">
                            <div class="heading-wrapper text-center with-separator">
                                <h2 class="h1">Con la confianza de muchas <span>empresas</span></h2>
                            </div><!-- End Heading -->
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="client-testimonial theme-two">
                                <div class="testimonial-slider">

                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" style="width: 30% !important;  padding-top: 0px !important; ">
                                    <div class="testimonial-text" style="width: 100% !important; height:100px !important; padding: 0px 0px 0px !important ">
                                        <div class="client-info">
                                            <div class="logo-wrappe" style="width: 100%; height: 100%;"><img src="images/logomarca.jpg" style="margin-left: 30%; width: 40%; height: 40%; object-fit: contain;" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Testimonial Slider -->
                            </div>
                        </div><!-- End Col -->
                    </div><!-- End Row -->
        </div>
    </div>
    <!-- companies Section -->
</div>


    </div>

{% endblock %}